@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
}

.main-board {
    flex: 0 0 80%;
    background-color: #f5f5dc;
    border-radius: 10px;
}

.menu-right {
    flex: 1 1 0;
    background-color: #d3d3d3;
    border-radius: 10px;
}
