@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

html, body, #root {
    height: 100%;
    margin: 0;
}

.menu-right {
    flex: 1 1 0;
    background-color: #d3d3d3;
    border-radius: 10px;
}
